<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="well well-sm">Tap a note to play</div>
        </div>
    </div>
    <div class="row add-space">
        <div class="col-xs-4 text-center"><button type="button" class="btn btn-default btn-lg btn-max">C</button></div>
        <div class="col-xs-4 text-center"><button type="button" class="btn btn-default btn-lg btn-max">C&#9839;/D&#9837;</button></div>
        <div class="col-xs-4 text-center"><button type="button" class="btn btn-default btn-lg btn-max">D</button></div>
    </div>
    <div class="row add-space">
        <div class="col-xs-4 text-center"><button type="button" class="btn btn-default btn-lg btn-max">D&#9839;/E&#9837;</button></div>
        <div class="col-xs-4 text-center"><button type="button" class="btn btn-default btn-lg btn-max">E</button></div>
        <div class="col-xs-4 text-center"><button type="button" class="btn btn-default btn-lg btn-max">F</button></div>
    </div>
    <div class="row add-space">
        <div class="col-xs-4 text-center"><button type="button" class="btn btn-default btn-lg btn-max">F&#9839;/G&#9837;</button></div>
        <div class="col-xs-4 text-center"><button type="button" class="btn btn-default btn-lg btn-max">G</button></div>
        <div class="col-xs-4 text-center"><button type="button" class="btn btn-default btn-lg btn-max">G&#9839;/A&#9837;</button></div>
    </div>
    <div class="row add-space">
        <div class="col-xs-4 text-center"><button type="button" class="btn btn-default btn-lg btn-max">A</button></div>
        <div class="col-xs-4 text-center"><button type="button" class="btn btn-default btn-lg btn-max">A&#9839;/B&#9837;</button></div>
        <div class="col-xs-4 text-center"><button type="button" class="btn btn-default btn-lg btn-max">B</button></div>
    </div>
    <div class="row add-space">
        <div class="col-xs-4 text-center">&nbsp;</div>
        <div class="col-xs-4 text-center"><button type="button" class="btn btn-default btn-lg btn-max">C</button></div>
        <div class="col-xs-4 text-center">&nbsp;</div>
    </div>
</div>
