<div class="container">
    <div class="row">
        <div class="col-sm-12">
            
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading_1" onclick="collapseToggle('1');">
                        <h4 class="panel-title">
                            Build Me Up Butter Cup
                        </h4>
                    </div>
                    <div id="collapse_1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_1">
                        <div class="panel-body">
                            Some notes about the song.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo" onclick="collapseToggle('2');">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Can't Buy Me Love
                            </a>
                        </h4>
                    </div>
                    <div id="collapse_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_2">
                        <div class="panel-body">
                            Some notes about the song.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree" onclick="collapseToggle('3');">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Java Jive
                            </a>
                        </h4>
                    </div>
                    <div id="collapse_3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_3">
                        <div class="panel-body">
                            Some notes about the song.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>

function collapseToggle(id) {
    $('.panel-collapse').collapse('hide');
    $('#collapse_'+id).collapse('toggle');
}
    
</script>

