body {
    background: url('../images/treble_clef.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:15px;
}

.footer {
	position: fixed;
	bottom: 0;
	left:0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	color: #eee;
	background-color: #555;
	font-size: 12px;
	line-height: 0px;
}

.footer i {
	font-size: 30px;
	line-height: 48px;
	z-index: 10000;
}

a.footer-link:link { color: #eee; text-decoration: none; }
a.footer-link:visited { color: #eee; text-decoration: none; }
a.footer-link:hover { color: #eee; text-decoration: none; }
a.footer-link:active { color: #aaa; text-decoration: none; }

img.main-title {
    max-width: 100%;
    margin-left:5px;
    margin-top:20px;
}

.btn-max {
    width: 100%;
}

.add-space {
    margin-bottom: 20px;
}